@{
    ViewBag.Title = "Kết quả thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Kết quả thanh toán</h2>
    <p>@ViewBag.Message</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quay về trang chủ</a>
</div>